body{
    background: rgb(12,2,108);
    background: radial-gradient(circle, rgba(12,2,108,1) 0%, rgba(10,0,42,1) 100%);
}
#global>h1{
    color:white;
    font-family: "Roboto Slab",sans-serif;
    font-size:3vw;
    margin-left:2vw;
}
#projets{
    display:grid;
    width:80%;
    height:80%;
    margin-left:5vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"cell1 cell2 cell3"
                        "cell4 cell5 cell6";
}
.projet{
    width:25vw;
    height:25vw;
    display:flex;
    justify-content: center;
    background-color: black;
    margin:2vw;
    overflow: hidden;
    img{
        margin-left:20vw;
        opacity: 0.7;
    }
    h1{
        position: absolute;
        margin-top:200px;
        color:white;
        font-family:'Montserrat', sans-serif;
        font-size:3vw;
    }
}
